@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root{
    --font-color: rgb(18,23,24);
    --body-color: #e4e0dd;
    --button-color: #f9cf7b;
}
@font-face {
    font-family: Noi;
    src: url(./Fonts/NoiGroteskTrial-Regular.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7.5vh;
    width: 39vw;
    padding: 1vw 0.6vw;
    font-size: 1.05vw;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 2.5%;
    border-radius: 15px;
    background-color: #f2f1ef;
    backdrop-filter: blur(10px);
    z-index: 10;
}
#nav>img{
    width: 10%;
    margin-left: 1.2vw;
}
#nav>button{
    padding: 1vw;
    border-radius: 10px;
    border: none;
    background-color: var(--button-color);
    font-weight: 500;
}
#nav>a{
    text-decoration: none;
    color: black;
}
#page1{
    height: 100vh;
    width: 100vw;
}
#page1>h1{
    font-family: Noi;
    font-weight: 500;
    font-size: 7vw;
    text-align: center;
    line-height: 1;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}
#page1>h4{
    font-size: 1.6vw;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}
#circle1{
    height: 3.35vw;
    width: 3.35vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #f2f1ef;
    position: absolute;
    top: 45%;
    left: 3.1%;
    opacity: 1;
    z-index: 9;
}
.ri-arrow-down-line{
    font-size: 1.5vw;
}
canvas{
    height: 100vh;
    width: 100vw;
}
#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}
/* #page3{
    position: relative;
    background-color: transparent;
    height: 100vh;
    width: 100vw;
} */